

/* MOBILE */

body {
  width: 480px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: center; 
  width: 480px;
  margin: 20px 0px;
}

li {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px;
}

h1 {
  text-align: center;
  margin-top: 50px;
}

img {
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  margin-top: 30px;
  width: 30%;
}
h2, h3, h4 {
  text-align: center;
  margin: 15px;
}



form {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.button {
  border-top: 1px solid #a161ba;
  background: #9b82e0;
  background: -webkit-gradient(linear, left top, left bottom, from(#543e9c), to(#9b82e0));
  background: -webkit-linear-gradient(top, #543e9c, #9b82e0);
  background: -moz-linear-gradient(top, #543e9c, #9b82e0);
  background: -ms-linear-gradient(top, #543e9c, #9b82e0);
  background: -o-linear-gradient(top, #543e9c, #9b82e0);
  padding: 17.5px 35px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
  -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: white;
  font-size: 21px;
  font-family: Helvetica, Arial, Sans-Serif;
  text-decoration: none;
  vertical-align: middle;
  }



#index-body {
  border: 1px solid black;

}

legend {
  text-align: center;
  margin: 20px;
}
#description {
  padding: 15px;
  margin: 0px 50px;
}

#lower-box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 50px;
  margin-top: 30px;
}

.book-box {
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 20px 0px;
  background-color: rgb(253, 245, 254);
  width: 100%;
  justify-content: center;
}

/* TABLET */
@media (min-width: 768px) {
  
  body {
    width: 768px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    width: 768px;
  }
}


/* DESKTOP */

@media all and (min-width: 960px){ 

  body {
    width: 960px;
    margin: auto;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    width: 960px;
  }
}
