

/* MOBILE */

body {
  width: 480px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  font-family: 'Nunito', sans-serif;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: center; 
  width: 480px;
  margin: 20px 0px;
}

li {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px;
}

h1 {
  text-align: center;
  margin-top: 50px;
}

img {
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  margin-top: 30px;
  width: 30%;
}
h2, h3, h4 {
  text-align: center;
  margin: 15px;
}

#update-delete {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

#update-anchor {
  text-decoration: none;

}

form {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

legend {
  text-align: center;
  margin: 20px;
}
#description {
  padding: 15px;
  margin: 0px 50px;
}

#lower-box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 50px;
  margin-top: 30px;
}

.book-box {
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 20px 0px;
  background-color: rgb(253, 245, 254);
  width: 100%;
  justify-content: center;
}

#form-1 {
  display: none;
}

#update-form {
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 20px 0px;
  background-color: rgb(253, 245, 254);
  width: 100%;
  justify-content: center;
}

#update-form input {
  width: 20%;
  margin: 20px auto;
  padding: 10px;
}

#update-form label {
  margin: 10px auto;
}

#update-form button {
  margin-bottom: 20px;
}

#save-form {
  display: flex;
  flex-direction: column;
  
}

#save-form input {
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
  width: 20%;
  height: 40px;
}

#title-author {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}



#search-form {
  
  padding-top: 200px;
  padding-bottom: 600px;
  width: 80%;
  margin: auto;
}

/* TABLET */
@media (min-width: 768px) {
  
  body {
    width: 768px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    width: 768px;
  }
}


/* DESKTOP */

@media all and (min-width: 960px){ 

  body {
    width: 960px;
    margin: auto;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    width: 960px;
  }
}
